/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #4285f4; /* Google Blue */
    color: #fff;
    padding: 10px 0;
}












/* Footer styles */
footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
   

}
    /* login styles */
    .login-form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }

    .login-form label,
    .login-form input,
    .login-form button {
        margin-bottom: 15px;
    }

    .login-form button {
        background-color: #4285f4; /* Google Blue */
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .login-form button:hover {
        background-color: #3c78d8; /* Darker shade of Google Blue */
    }


.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.details-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    color: #fff; /* Set text color to white */
    border: none;
    padding: 8px 16px; /* Adjust padding for better visibility */
    cursor: pointer;
    z-index: 1; /* Ensure the button is above other elements */
}






